PORT=3000

NODE_ENV=development

MONGO_URI=mongodb://mongodb:27017/smartdevis_ai

JWT_SECRET=your_jwt_secret

FRONTEND_URL=http://localhost:4200

MYSQL_HOST=your_mysql_host
MYSQL_PORT=3306
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_mysql_database

N8N_WEBHOOK_URL=http://n8n:5678/webhook/devis-agent

OPENAI_API_KEY=your_openai_api_key