PORT=3000

NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/smartdevis_ai

JWT_SECRET=your_jwt_secret

FRONTEND_URL=https://smartdevis-frontend.onrender.com

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_mysql_database

N8N_WEBHOOK_URL=http://localhost:5678/webhook/devis-agent